@model Colegio_Jean.Models.PersonalModel


    <form action="/home/login" method="post">
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="txtUser" name="usuario">
            <label class="mdl-textfield__label" for="txtUser">Usuario</label>
        </div>
    </form>